* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: relative;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
}

.header-cat {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background: url("/assets/images/greencat.png") no-repeat right top;
    background-size: cover;
    z-index: 1;
}

.container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 2;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.logo img {
    height: 59px;
}

.nav-menu {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    z-index: 3;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link.active::after {
    transform: scaleX(1);
}

.nav-link:hover {
    opacity: 0.7;
}

.header-main {
    position: relative;
    padding: 0px 0 140px;
    margin-top: -100px;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 650px;
}

.header-left {
    max-width: 480px;
    margin-left: 80px;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #111111;
}

.header-subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #111111;
}

.header-button {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 16px 32px;
    background-color: #68b738;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s ease;
}

.header-button:hover {
    background-color: #5ca52f;
}

.header-right {
    min-height: 650px;
}

.product-food {
    position: absolute;
    bottom: 60px;
    height: 499px;
    left: 430px;
    top: 100px;
    width: 552px;
    z-index: 5;

    filter: drop-shadow(0 30px 60px rgba(0, 0, 0, 0.25));
}

.programs {
    padding: 80px 0;
    background-color: #ffffff;
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.programs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.program-card {
    background-color: #f2f2f2;
    padding: 40px 50px 55px 50px;
    position: relative;
    transition: transform 0.3s ease;
}

.program-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.program-header {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
}

.program-icon {
    width: 100px;
    height: 100px;
    background-color: #68b738;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

.program-icon--slim::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 97px;
    background-image: url("./assets/images/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.program-icon--pro::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 134px;
    height: 56px;
    background-image: url("./assets/images/cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.program-title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
}

.program-description {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    padding-bottom: 30px;

}

.program-link {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    text-decoration: none;
    transition: gap 0.3s ease;
}

.program-link:hover {
    gap: 30px;
}

.program-link:hover .program-arrow {
    transform: translateX(5px);
}

.how {
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #ffffff;
}

.how-title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
}

.how-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.how-item {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 40px;
}

.how-item>* {
    position: relative;
    z-index: 2;
}

.how-item::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 1;
    color: #f2f2f2;
    z-index: 0;
}

.how-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.how-description {
    z-index: 3;
}

.alive-example {
    padding: 0 0;
    background: linear-gradient(to bottom, 
        white 0%, 
        white 250px,  
        #f2f2f2 250px, 
        #f2f2f2 100%
    );
}





.example-title {
    color: #000000;
    padding: 0 0 100px 0;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
}

.example-grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    align-items: center;
    gap: 80px;
}

.example-text  {
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    line-height: 24px;
}

.example-price {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #000000;
}

.example-stats {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.example-stats strong {
    font-size: 24px;
    display: block;
}

.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 700px; 
    overflow: hidden;
}

.image {
    position: absolute;
    width: 690px;
    height: 656px;
    object-fit: cover;    
    object-position: left;
}

.image-after {
    object-position: right;
    z-index: 1;
}

.image-before {
    object-position: left;
    width: 690px;
    height: 656px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.image-overlay .image {
    object-position: right; 
}

.divider {
    position: absolute;
    top: 0;
    left: 0%; 
    width: 2px;
    height: 100%;
    background: white;
    transform: translateX(-50%);
    z-index: 3;
    pointer-events: none;
}

.divider-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
    border: 4px solid #68b738;
    transform: translate(-50%, -50%);
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slider-control {
    padding: 0 10px;
}

.slider-control input {
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    background: #68b738;
    outline: none;
}

.slider-control input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #68b738;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.slider-control input::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #68b738;
}